#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar, .navbar-brand, .navbar-nav, .navbar-nav>li, .navbar-item {
  float:none;
}

.navbar-nav {
  display:flex;
}

.navbar-nav>li {
  flex: 1;
}
