#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar, .navbar-brand, .navbar-nav, .navbar-nav>li {
  float:none;
  text-align: left;
}

.navbar-item, .nav-link{
  float:left;
  text-align:left;
  white-space:nowrap;
  align-self: left;
}

.navbar-nav {
  display:flex;
}

.navbar-nav>li {
  flex:1;
}
